* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    height: 100%;
}

/* Родительский блок */
.container {
    display: flex; /* Активируем Flexbox */
    flex-direction: row; /* Направляем элементы в ряд (это значение по умолчанию) */
    gap: 0px; /* Добавляет расстояние между колонками */
}

/* Левая колонка */
.left {
    flex: 1; /* Колонка займет доступное место */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: #2ecc71;
    padding: 20px;
    min-height: 300px;
    position: relative;
}

.right {
    flex: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    color: #2ecc71;
    padding: 1%;
}

/* ДОБАВЛЯЕМ ЭТО: заставляем форму выстроить элементы в колонку по центру */
#auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Форма занимает всю ширину .right */
}

/* Чтобы лейблы не прилипали к инпутам и были слева от них (если нужно как на скрине) */
label {
    width: 100%;
    max-width: 300px;
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
}

.right h2 {
    margin-bottom: 2%; 
    text-align: center;
}

/* Стили для полей ввода */
input {
    width: 100%;
    max-width: 300px; /* Сохраняем твой размер */
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 12px 15px;
    color: #ffffff;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    margin-bottom: 15px;
}

/* Стили для кнопки */
button {
    width: 100%;
    max-width: 300px; /* Сделал 300px, чтобы вровень с инпутами */
    background-color: #2ecc71;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 10px; /* Добавил отступ сверху */
    margin-bottom: 20px;
}

/* Эффект при наведении на кнопку */
button:hover {
    background-color: #98FB98; /* Делаем чуть темнее при наведении */
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

@keyframes flow {
    0% { background-position: 0% 0%; }
    50% { background-position: 0% 100%; }
    100% { background-position: 0% 0%; }
}

.energy {
    width: 4px;
    height: 100%;
    background: linear-gradient(to bottom, 
        transparent, 
        #2ecc71, 
        transparent,
        #2ecc71, 
        transparent,
        #2ecc71,
        transparent);
    background-size: 100% 600%;
    animation: flow 8s linear infinite;
    box-shadow: 0 0 8px #07a724;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 122px;
}